<h1>Countries</h1>
<table style="border:1px solid black">
  <tr>
    <td>Country</td>
    <td>Edit</td>
  </tr>
  {% for country in countries %}
    {% assign difference = forloop.index | modulo: 2 %}
    {% if difference == 0 %}
      <tr>
    {% else %}
      <tr style="background-color:#D4D4D4">
    {% endif %}
      <td>{{ country.name.common }}</td>
      <td><a href="/country/{{country.name.common |  url_encode}}">edit</a></td>
    </tr>
  {% endfor %}
</table>